body{
  background-color: #141414;
  color:#ffffff;
  font-family: Archivo Black;
}

.movie-app .row{
  overflow-x: auto;
  padding: 10px;
  flex-wrap: nowrap;
  margin-right: 0;
  margin-bottom: 3%;
}

.movie-app .row>* {
  flex: 1 1 160px;
}

.search-form{
  margin-top: 5%;
  border-style: double;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  background-color: #ffffff;
}

.footerText{
  color: black;
<<<<<<< HEAD
=======
  max-height: 200px;
  overflow-y: scroll;
  margin-bottom: 30px;
}

/*Carousel*/

.carousel {
  overflow-x: scroll;
  flex-wrap: nowrap;
>>>>>>> c3714a8 (Recommended films fix)
}