body{
  background-color: #141414;
  color:#ffffff;
  font-family: Archivo Black;
}

.movie-app .row{
  overflow-x: auto;
  padding: 10px;
  flex-wrap: nowrap;
  margin-right: 0;
  margin-bottom: 3%;
}

.movie-app .row>* {
  flex: 1 1 160px;
}

.search-form{
  margin-top: 5%;
  border-style: double;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  background-color: #ffffff;
  margin-top: 5%;
}

.footerText{
  color: black;
  max-height: 200px;
  margin-bottom: 30px;
}

/*Carousel*/

.carousel {
  overflow-x: scroll;
  flex-wrap: nowrap;
}

/*SearchResults*/

.searchResultLink:hover {
  background-color: white;
  color: black;
}

#detailTitle{
  font-size:x-large;
  margin-left: 2%;
  margin-bottom: 2%;
  margin-top: 1%;
  margin-right: 5%;
}

#detailsPage{
  margin-top: 5%;

}

#detailImage{
  margin-bottom: 5%;
  margin-top: 3%;
  margin-left: 15%;
  width: 60%;
}

#plot{
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 20%;
  margin-right: 5%;
}

#detailsList{
  margin-bottom: 2%;
  margin-left: 2%;
  margin-top: 2%;
}

#movieButton{
  margin-left: 2%;
  margin-bottom: 5%;
}


.detailCard{
  margin-bottom: 20%;
}